{% extends 'layout.html' %}

{% block content %}
{% include 'navbar.html' %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
<!--action="/thanks/" 
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit">Submit</button>
</form>
-->
<div class="container card shadow border-0 pt-3">
    <div class="content-section px-5">
        <form method="post" name="pre_toefl" class="mb-2 font-weight-bold">
            
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 text-center">DKM Generate Excel</legend>
                {% csrf_token %}
                {{ form|crispy }}
            </fieldset>
            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                {{ form.start_date }}
                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
              </div>
              <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                {{ form.end_date }}
                <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
              </div>
            <div>    
                <button type="submit" class="btn btn-outline-info mb-2">Generate</button>
            </div>
            
        </form>
        
    </div>
</div>

{% endblock %}