{% extends 'layout.html' %}

{% block content %}
{% include 'navbar.html' %}
{% load crispy_forms_tags %}
<!--action="/thanks/" 
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit">Submit</button>
</form>
-->
<div class="container card shadow border-0 pt-3">
    <div class="content-section px-5">
        <form method="post" name="pre_toefl" class="mb-2 font-weight-bold">
            
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 text-center">DKM Generate Excel</legend>
                {% csrf_token %}
                {{ form|crispy }}
            </fieldset>
            <div>    
                <button type="submit" class="btn btn-outline-info mb-2">Generate</button>
            </div>
            
        </form>
        
    </div>
</div>

{% endblock %}