<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
	  <clear/>
      <add name="FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\xampp\htdocs\test_excel2\venv\Scripts\python.exe|C:\xampp\htdocs\test_excel2\core\manage.py winfcgi --pythonpath=C:\xampp\htdocs\test_excel2\core" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>
</configuration>
